{erl_opts, [
            {parse_transform, lager_transform},
            debug_info,
            warnings_as_errors
           ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{deps, [
         {ubx, ".*", {git, "https://github.com/helium/erlang-ubx", {branch, "master"}}},
         {ebus, ".*", {git, "https://github.com/helium/ebus", {branch, "master"}}},
         {gatt, ".*", {git, "https://github.com/helium/ebus-gatt", {branch, "master"}}},
         {connman, ".*", {git, "https://github.com/helium/ebus-connman", {branch, "master"}}}
       ]}.


{xref_checks, [
               undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions
              ]}.

{relx, [
        {release, {gateway_config, "0.1.0"}, [gateway_config, runtime_tools]},
        {generate_start_script, true},
        {extended_start_script, true},
        {overlay, [
                   {template, "config/sys.config", "{{output_dir}}/releases/{{release_version}}/sys.config"},
                    {template, "config/vm.args", "{{output_dir}}/releases/{{release_version}}/vm.args"}
                  ]},
        {dev_mode, true}
       ]}.

{profiles, [
            {prod, [
                    {relx, [
                            %% {overlay_vars, "config/prod.config"}
                            {dev_mode, false},
                            {include_src, false},
                            {system_libs, false},
                            {include_erts, false}
                           ]}]
            },
            {dev, [
                   {relx, [
                           %% {overlay_vars, "config/dev.config"}
                           {dev_mode, true},
                           {include_erts, true}]}]
            }
           ]}.

{shell, [
         {apps, [lager, gateway_config, ebus]}
        ]}.
