{deps, [
        {gatt, ".*", {git, "https://github.com/helium/ebus-gatt", {branch, "master"}}},
        {connman, ".*", {git, "https://github.com/helium/ebus-connman", {branch, "master"}}}
       ]}.

{erl_opts, [
            {parse_transform, lager_transform},
            debug_info,
            warnings_as_errors
           ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [lager, gateway_config, ebus]}
]}.
