%% -*- erlang -*-
[
 {sasl, [
         {sasl_error_logger, false}
        ]},

 {lager, [
          {error_logger_redirect, true},
          {suppress_supervisor_start_stop, true},
          {log_root, "/var/data/log/gateway_config"},
          {crash_log, "crash.log"},
          {colored, true},
          {handlers, [
                      {lager_file_backend, [{file, "console.log"}, {level, info}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}]}
                     ]}
         ]},

 {gateway_config,
  [
   {lights_off, "/tmp/gateway_lights_off"},
   {gps, [
          {filename, "spidev1.0"},
          {gpio, 68}
         ]},
   {button, [
             {gpio, 4}
            ]}
  ]},

 {dogstatsd, [
              {vm_stats, false},
              {global_prefix, "config"}
             ]}
].
