%% -*- erlang -*-
[
 {kernel, [
   %% force distributed erlang to only run on localhost
           {inet_dist_use_interface, {127,0,0,1}}
          ]},
 {sasl, [
         {sasl_error_logger, false}
        ]},

 {lager, [
          {error_logger_redirect, true},
          {suppress_supervisor_start_stop, true},
          {log_root, "/var/log/gateway_config"},
          {crash_log, "crash.log"},
          {colored, true},
          {handlers, [
                      {lager_file_backend, [{file, "console.log"}, {level, info}]},
                      {lager_file_backend, [{file, "error.log"}, {level, error}]}
                     ]}
         ]},

 {gateway_config,
  [
   {keys_file, "/var/data/public_keys"},
   {lights_off, "/tmp/gateway_lights_off"},
   {button, [
             {gpio, 7}
            ]}
  ]}
].
